.button {
    border: none;
    color: @buttonFontColor;
    background-color: @buttonBgColor;
    cursor: pointer;
    &:focus {
        outline: transparent;
    }
}

.button--nav {
    height: 482px;
    flex-grow: 1;
    margin: 8px 4px;
    background: transparent;
    color: @buttonBgColor;
    font-size: 60px;
    font-weight: 700;
    &-left {
        transform: rotate(180deg);
    }
    &:hover {
        background-color: fade(@white, 60%);
    }
}

.button.button--white {
    color: @white;
    background-color: transparent;
    &:hover {
        background-color: fade(@white, 60%);
        color: @black;
    }
}

.button--header {
    height: 40px;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 10px;
    background-color: transparent;
    &-info {
        width: 40px;
        background-color: @mediumGreen;
        color: @lightGreen;
        border-radius: 50%;
        font-size: 20px;
        font-weight: 700;
        left: auto;
        right: 0;
    }
    .icon__calendar {
        fill: @mediumGreen;
    }
}
