.calendar__header {
    width: 80vw;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calendar__title {
    margin: 0;
    text-align: center;
    font-weight: 300;
}

.monthGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 80vw;
    margin: auto;
}

.monthGrid__element {
    flex-basis: 13%;
    flex-grow: 1;
    margin: 5px;
}

.day {
    .monthGrid__element;
    position: relative;
    height: 80px;
    padding: 5px;
    background-color: white;
    font-size: 21px;
    &--selected {
        border: solid 5px green;
    }
}

.day__image-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
}
