.comment {
    margin: 4px 0;
    padding: 12px;
    background-color: @white;
}

.comment__header {
    height: @headerHeight;
    margin: 8px 4px;
    padding: 14px;
    background-color: @transparentWhite;
    cursor: pointer;
}

.comment__form {
    width: 60%;
    margin: 14px;
    display: flex;
    flex-direction: column;
}

.comment__editor {
    height: 160px;
    background-color: @white;
}

.comment__list {
    width: 60%;
    margin: 4px 14px;
    display: flex;
    flex-direction: column;
}
