.header {
    width: @contentWidth;
    height: @headerHeight;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 8;
    &__title {
        flex-basis: 80%;
        flex-grow: 1;
        margin: 0;
        text-align: center;
        line-height: 60px;
        font-weight: 300;
        font-size: 28px;
        background-color: fade(@white, 60%);
    }
}
