@import 'variables';
@import 'buttons';
@import 'calendar';
@import 'detailView';
@import 'slideshow';
@import 'admin';
@import 'newsletter';
@import 'header';
@import 'about';
@import 'comments';

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    position: relative;
    padding-bottom: 80px;
    padding-top: 60px;
    background-color: @backgroundColor;
    color: @fontColor;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
    font-weight: 300;
}

.no-scroll {
    overflow: hidden;
}

.hidden {
    display: none;
}
