@import 'variables';
@import 'buttons';
@import 'calendar';
@import 'detailView';
@import 'slideshow';
@import 'admin';
@import 'newsletter';
@import 'header';
@import 'about';
@import 'comments';

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    position: relative;
    background-color: @backgroundColor;
    color: @fontColor;
}

a {
    display: block;
    text-decoration: none;
}

p {
    margin: 8px 0;
    &:first-of-type {
        margin-top: 0;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
    font-weight: 300;
}

small {
    font-size: @fontSmall;
}

button {
    padding: 0;
    margin: 0;
    border: none;
}

.no-scroll {
    overflow: hidden;
}

.hidden {
    display: none;
}

.content-container {
    width: ~"calc(@{contentWidth} + @{normalGap})";
    margin: auto;
    margin-top: @headerHeight + @normalGap;
    margin-bottom: @bottomGap;
}
