@import 'variables';
@import 'buttons';
@import 'calendar';
@import 'detailView';
@import 'slideshow';
@import 'admin';
@import 'newsletter';
@import 'header';

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    position: relative;
    padding-bottom: 80px;
    background-color: @backgroundColor;
    color: @fontColor;
}

.no-scroll {
    overflow: hidden;
}

.hidden {
    display: none;
}
