////COLORS///////
@black: rgb(4, 15, 15);
@white: rgb(255, 255, 255);
@transparentWhite: rgba(255, 255, 255, 0.6);

@beige: rgb(245, 224, 183);
@darkBrown: rgb(133, 127, 116);
@darkGrey: rgba(30, 30, 30, 0.96);

////EVENT COLORS//////
@eventBlue: rgb(133, 169, 191);
@eventGreen: rgb(117, 170, 102);
@eventRed: rgb(183, 91, 93);
@eventOrange: rgb(209, 145, 96);
@eventPurple: rgb(144, 114, 163);

////COLOR DEFINITIONS/////////////
@fontColor: @black;
@backgroundColor: @beige;

@buttonBgColor: @darkBrown;
@buttonFontColor: @white;

@slideshowBackground: @darkGrey;
/////////////////

////UNITS////////
@fullViewportWidth: 100vw;
@viewportWidth: 80vw;
@contentWidth: 80vw;
@headerHeight: 60px;

@normalGap: 8px;
@halfGap: @normalGap / 2;
@doubleGap: @normalGap * 2;
@bottomGap: 80px;

@contentPadding: 10px;

@transitionProps: ~".2s";

////FONT SIZE//////
@fontSmall: 13px;
@fontNormal: 16px;
@fontBig: 22px;

@regular: 300;
@bold: 700;
